{% extends "base.html" %}

{% block content %}
    <h1>Create a new post:</h1>

    <form name="addForm" id="addForm" action="{{ url_for('addpost') }}" method='POST'>
    <fieldset>
        <div>
            <input type="hidden" name="blog_id" />
        </div>
        
        <div>
            <p><input type='text' name='title' id='title' placeholder='Add a title.' /></p>
            <p class="error">{{error}}</p>
        </div>
        
        <div>
            <p><textarea form='addForm' name='body' id=body cols="30" rows="10" placeholder="Write post here." /></textarea></p>
            <p class="error">{{error}}</p>
        </div>
        
        <div>
            <p><input type="submit" value='Add Blog' /></p>
        </div>
    </fieldset> 
    </form>
    
{% endblock %}