{% extends "base.html" %}

{% block content %}
<div align= "center"><h1>Add Blog</h1></div>
<div align= "center" >
<form method= 'POST'>
        <fieldset>
            <div>
                <label for="name">Enter a title:</label>
                <input id="name" name="title" type="text" placeholder="Title">
                <p class= 'error'>{{title_error}}</p>
            </div>
            <div>
                <label for="foo">Create a new post:</label>
                <textarea id="foo" name="body" type="text" placeholder= "Post"></textarea>
                <p class= 'error'>{{body_error}}</p>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
    {% endblock %}